.tag1
  fount-size: 1.0em
.tag2
  fount-size: 1.2em
.tag3
  fount-size: 1.4em
.tag4
  fount-size: 1.6em
.tag5
  fount-size: 1.8em

.tag_cloud
  background-color: #F7F7F7
  border-radius: 5%
  margin: 1em 2em 0 0

.col-md-3
  .tag_cloud > h2
    margin-right: 10em
